.home-page{
    .nav-left{
        background-color: #f8f9fa;
        border-right: 1px solid #dfe1e3;
        border-bottom: 1px solid #dfe1e3;
        padding: 5px 0 10px 0;
        .nav-btn{
        background-color: transparent;
        color: #000;
        text-align: left;
        padding: 5px 10px;
        font-size: 16px;
    }
    .accordion-head{
        padding: 5px 10px;
        border: 0;
        background-color: #f8f9fa;
        color: #000;
        font-size: 16px;
        &:focus{
            box-shadow: none;
        }
        &:after{    
            background-image: var(--bs-accordion-btn-icon);
        }
    }
    .btn-nav{
        padding: 0 0 0 20px;
        background-color: #f8f9fa;
    }
    }
    .accordion{
        --bs-accordion-border-color: none;
    }
    
}