<div class="home-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills nav-left" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <button class="nav-link active nav-btn" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">Home</button>
                    <div class="accordion" id="accordion1">
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button accordion-head collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Accordion1
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordion1">
                                <div class="accordion-body btn-nav">
                                    <button class="nav-link nav-btn" id="v-pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-profile" type="button" role="tab"
                                        aria-controls="v-pills-profile" aria-selected="false">Profile</button>
                                    <button class="nav-link nav-btn" id="v-pills-messages-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-messages" type="button" role="tab"
                                        aria-controls="v-pills-messages" aria-selected="false">about
                                    </button>
                                    <button class="nav-link nav-btn" id="v-pills-settings-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-settings" type="button" role="tab"
                                        aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="accordion2">
                        <div class="accordion-item border-0">
                            <h2 class="accordion-header" id="heading2">
                                <button class="accordion-button accordion-head collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Accordion2
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                data-bs-parent="#accordion2">
                                <div class="accordion-body btn-nav">
                                    <button class="nav-link nav-btn" id="v-pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-profile" type="button" role="tab"
                                        aria-controls="v-pills-profile" aria-selected="false">Profile</button>
                                    <button class="nav-link nav-btn" id="v-pills-messages-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-messages" type="button" role="tab"
                                        aria-controls="v-pills-messages" aria-selected="false">about
                                    </button>
                                    <button class="nav-link nav-btn" id="v-pills-settings-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-settings" type="button" role="tab"
                                        aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab" tabindex="0">
                        <div class="my-5">
                            <h2>Lorem, ipsum.</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab" tabindex="0">
                        <div class="my-5">
                            <h2>Lorem, ipsum dolor.</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel"
                        aria-labelledby="v-pills-disabled-tab" tabindex="0">
                        <div class="my-5">
                            <h2>Lorem ipsum dolor sit amet.</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab" tabindex="0">
                        <div class="my-5">
                            <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni?</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab" tabindex="0">
                        <div class="my-5">
                            <h2>Lorem ipsum dolor sit amet consectetur.</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate
                                aspernatur quam
                                quas
                                perferendis sit provident corporis nam doloribus voluptatibus assumenda unde tempore,
                                asperiores
                                tempora. Repudiandae ab odit ratione facilis!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>